<div class="container">
    <div class="filtro">
      <label>Género:</label>
      <select class="select" [(ngModel)]="filtroGenero">
        <option value="">Todos</option>
        <option *ngFor="let genero of generos" [value]="genero">{{ genero }}</option>
      </select>
    </div>
  
    <div class="filtro">
      <label>Año de lanzamiento:</label>
      <select class="select" [(ngModel)]="filtroAnio">
        <option value="">Todos</option>
        <option *ngFor="let anio of anios" [value]="anio">{{ anio }}</option>
      </select>
    </div>
  
    <div class="button-container">
      <button class="button" (click)="aplicarFiltros()">Aplicar filtros</button>
      <button class="button" (click)="limpiarFiltros()">Limpiar filtros</button>
      <button class="button" (click)="exportarExcel()">Exportar a Excel</button>
    </div>
  </div>
  

  <div *ngIf="peliculasFiltradas.length > 0">
    <table class="table">
      <thead>
        <tr>
          <th>Título</th>
          <th>Género</th>
          <th>Año de lanzamiento</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pelicula of peliculasFiltradas">
          <td>{{ pelicula.titulo }}</td>
          <td>{{ pelicula.genero }}</td>
          <td>{{ pelicula.lanzamiento }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  